@model ComputerStore.Models.Supply

@{ ViewData["Title"] = "Новая поставка"; }

<h1>Оформление поставки</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Выберите поставщика</label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Создать документ" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>